<template>

    <b-modal class="result-modal" v-model="showModal" ok-only>
        <div class="result-modal__title" slot="modal-title">
            <span v-if="isExpectationsMeet" class="text-success">
                Success
            </span>
            <span v-else class="text-danger">
                Failure
            </span>
        </div>
        <table class="w-100">
            <tr>
                <td>
                    Maximum offer was:
                </td>
                <td>
                    {{willingSalary}}
                </td>
            </tr>
            <tr>
                <td>
                    Minimum expected salary was:
                </td>
                <td>
                    {{expectedSalary}}
                </td>
            </tr>
        </table>
    </b-modal>

</template>

<script>
export default {
    name: "ResultModal",
    props: {
        show: {
            type: Boolean,
            default: false
        },
        willingSalary: {
            type: Number,
            default: 0
        },
        expectedSalary: {
            type: Number,
            default: 0
        }
    },

    data: function() {
        return {
            showModal: this.show
        }
    },

    computed: {
        /**
         * Compare salaries and check if
         * expectations meet.
         * @returns boolean
         */
        isExpectationsMeet: function() {
            return this.willingSalary >= this.expectedSalary
        }
    },

    watch: {
        /**
         * Bind showModal to show property.
         * Because of bootstrap modal use v-model directive.
         * @param  {boolean} value
         */
        show: function(value) {
            this.showModal = value
        }
    }
}
</script>

<style scoped>
</style>