<template>
  
    <form 
        class="salary-form"
        @submit.prevent="onSubmit(currentSalary)" 
        v-if="show">
        
        <input 
            v-model.number="currentSalary"
            type="number"
            :placeholder="placeholder"
            step="0.01"
            class="salary-form__input form-control"
            debounce="250"
            v-bind:class="{'is-invalid' : !isFormValid}"/>
            
        <button class="salary-form__button btn btn-primary" type="submit" variant="primary">Submit</button>
    </form>

    <span class="message" v-else>
        Form was submitted
    </span>

</template>

<script>
export default {
    name: "SalaryForm",
    props: {
        placeholder: {
            type: String,
            default: "Placeholder"
        },
        show: {
            type: Boolean,
            default: true
        },
        salary: {
            type: Number,
            default: null
        }
    },

    data: function() {
        return {
            currentSalary: this.salary,
            isFormValid: true
        }
    },

    watch: {
        /**
         * When input field changes validate it.
         */
        currentSalary: function() {
            return this.checkIfFormValid()
        }
    },
    
    methods: {
        /**
         * Check if input number more then 0, otherwise
         * make input field invalid.
         * @returns boolean
         */
        checkIfFormValid() {
            return (this.isFormValid = this.currentSalary > 0)
        },

        /**
         * When form submit, check if it`s valid,
         * then emit event.
         * @param  {number} salary
         * @returns boolean
         */
        onSubmit(salary) {
            if (!this.checkIfFormValid()) {
                return false
            }
            this.$emit("onSubmit", salary)
        }
    }
}
</script>

<style lang="scss" scoped>
.salary-form {
    display: flex;
    padding-top: 1em;
    margin-bottom: 1em;

    &__input {
        margin-right: 1em;
    }

    &__button {
        width: 8em;
    }
}
</style>