<template>

    <b-card class="salary-card" no-body>
        <b-tabs pills card>

            <b-tab title="Employer-tab" class="tab--employer" active>
                <salary-form 
                    :salary="employerWillingSalary"
                    :show="!isEmployerFormSubmited"
                    :placeholder="'Enter maximum offer'" 
                    @onSubmit="employerFormSubmit">
                </salary-form>
            </b-tab>
            
            <b-tab title="Employee-tab" class="tab--employee">
                <salary-form 
                    :salary="employeeExpectedSalary"
                    :show="!isEmployeeFormSubmited"
                    :placeholder="'Enter minimum salary'" 
                    @onSubmit="employeeFormSubmit">
                </salary-form>
            </b-tab>

        </b-tabs>

        <result-modal 
            :willingSalary="employerWillingSalary"
            :expectedSalary="employeeExpectedSalary"
            :show="showResultModal"
        ></result-modal>
    </b-card>

</template>

<script>
import SalaryForm from "./SalaryForm.vue"
import ResultModal from "./ResultModal.vue"

export default {
    name: "SalaryCard",
    components: {
        SalaryForm,
        ResultModal
    },
    
    data: function() {
        return {
            employerWillingSalary: null,
            employeeExpectedSalary: null,

            isEmployerFormSubmited: false,
            isEmployeeFormSubmited: false
        }
    },

    computed: {
        /**
         * Check if employer and employee form where submited.
         * @returns boolean
         */
        showResultModal: function() {
            return this.isEmployerFormSubmited && this.isEmployeeFormSubmited
        }
    },

    methods: {
        /**
         * Set employer willing salary. Called from @on-submit event
         * from SalaryForm component.
         * @param  {number} salary
         * @returns void
         */
        employerFormSubmit(salary) {
            this.employerWillingSalary = salary
            this.isEmployerFormSubmited = true
        },

        /**
         * Set employee expected salary. Called from @on-submit event
         * from SalaryForm component.
         * @param  {number} salary
         * @returns void
         */
        employeeFormSubmit(salary) {
            this.employeeExpectedSalary = salary
            this.isEmployeeFormSubmited = true
        }
    }
}
</script>

<style lang="scss" scoped>
.salary-card {}
</style>