<template>
	<div id="app" class="app">

		<b-container class="app__container">
			<b-row align-h="center">
				<b-col cols="6">

					<salary-card></salary-card>

				</b-col>
			</b-row>
		</b-container>

	</div>
</template>

<script>
import SalaryCard from "./components/SalaryCard.vue"

export default {
    name: "app",
    components: {
        SalaryCard
    }
}
</script>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

@import "./design/base";

.app {
    height: 100%;
    display: flex;

    &__container {
        padding-top: 14em;
    }
}
</style>
